.projects ul {
    list-style-type: none; /* Poistaa pisteet listasta */
    padding: 0;
}

.projects li {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
    transition: background 0.3s ease;
}

.projects li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.projects a {
    text-decoration: none;
    color: #ffcc00;
    font-weight: bold;
    display: block;
}

.projects a:hover {
    color: #ffeb99;
}
